* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    color: blue;
    text-align: center;
}

#headline {
    padding-top: 40px;
}