* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    font-size: 16px;
}

h1 {
    font-weight: normal;
    font-size: 3.125rem;
    color: white;
    text-align: center;
}

#headline {
    padding-top: 40px;
}

body {
    text-align: center;
}

#applink {
    padding-top: 3.125rem;
    font-size: 1rem;
}

#applink a {
    color: aquamarine;
}

#applink a:hover {
    color: greenyellow;
}

video {
    padding-top: 2rem;
}